body {
	width: 500px;
}

#contact label{
	display: inline-block;
	width: 100px;
	text-align: right;
}
#btnValidate{
    margin: 16px 0 0 322px;
}
#contact div{
	margin-top: 1em;
}

textarea{	
	vertical-align: top;
	height: 5em;
	width: 20em;
}

#inMessage {
	margin-left: 104px;
}


.error {
	border-color: red;
}

.valid {
	border-color: green;
}
	